@import "https://fonts.fontstorage.com/import/markazitext.css";
@import "https://fonts.fontstorage.com/import/inter.css";

:root {
  --bg-color: #F4F1E1;
  --main-color: #495E57;
  --accent-color: #F4CE14;
  --text-color: #000;
  --light-color: #D9D9D9;
  --fade-color: #A1A1A1;
  --main-font-size: 64px;
  --main-font-weight: 700;
  --body-font-size: 40px;
}

* {
  user-select: none;
  font-family: 'Markazi Text';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

nav {
  padding: 25px 300px;
  font-family: var(--main-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroSection {
  height: 400px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  padding: 25px 300px;
  background-color: var(--main-color);
}

.partners {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.highlight {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--main-color);
}

.services {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.faq  {
  padding: 50px 300px;
  background-color: var(--main-color);
}

footer {
  padding: 50px 300px;
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 25px;
}

.socials > .icon {
  width: 250px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icons img {
  width: 45px;
  height: auto;
}

.info > header {
  font-size: 30px;
}

.info > ul {
  font-size: 20px;
}